.red-square {
    background-color: red;
    width: 150px;
    height: 150px;
    display: inline-block;
    margin-right: 20px;
}

.green-circle {
    background-color: green;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    display: inline-block;
}

.services {
    margin-top: 50px;
    font-family: 'Roboto';
    padding-left: 15px;
    padding-right: 15px;
    width: 250px;
    border:rgba(86,86,86,0.3);
    border-width: 1px;
    border-style: solid;
}

button {
    margin-bottom: 16px;
}

.ytmusic {
    margin-top: 50px;
    background-color: rgb(25,25,25);
    display: inline-block;
}

.ytm1 {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 8px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.ytm2 {
    font-family: 'Roboto';
    color: rgb(211, 211, 211, 0.6);
    width: 350px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}